/**
 * @name Fallout 4 Terminal - User Profile Panel (Addon)
 * @author @itsJeebus
 * @version 1.0.0
 * @description An addon for Bates' Fallout 4 Terminal theme!
 * @source https://github.com/WoahItsJeebus/FalloutActivityPanel
 * @website https://github.com/WoahItsJeebus
 * @invite w8QdNsYmbr
 * @authorId 507287352234999809
 */
 @import "https://raw.githubusercontent.com/WoahItsJeebus/FalloutActivityPanel/refs/heads/main/Utilities/Glow.css";
 
 .overlay_c0bea0,
 .custom-user-profile-theme {
     border: 1px solid rgb(74, 239, 152, 0.7) !important;
     box-shadow: 0 0 12px rgba(74, 239, 152, 0.7);
     transition: background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
     animation: glitchyGlowSoft2 2s steps(60, end) infinite;
 }
 
 .overlay_c0bea0,
 .headerContentWrapper__6fd0e {
     background-color: rgba(0, 50, 0, 0.9) !important;
     font-family: "Courier New", Consolas, monospace !important;   /* Terminal-style font */
     font-size: 13px !important;                                   /* Adjust size as needed */
     font-weight: 600 !important;                                  /* Medium-bold text */
     letter-spacing: 0.5px;                                        /* Optional: wider spacing for "terminal" look */
     text-transform: none;
 }